
  .bluebox {
    border: 10px solid blue;
    padding: 0.5em;
    width: 150px;
    height: 100px;
  }

  p{border: 1px solid red;
    width: 50%;
    text-align: center;
    align: center;
    font-family: monospace;
  }


    .container {
	background-color: black;
  	width: 400px;
  	height: 400px;
  	border: 10px solid black;
  	display: flex;
  flex-wrap: wrap;
}

.red {
	width: 50%;
    height: 50%;
  background-color: red;
}

.black {
	width: 50%;
    height: 50%;
  background-color: black;
}
